@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-neutral-800;
  }

  body {
    @apply bg-neutral-950 text-neutral-200 antialiased;
  }

  input,
  textarea {
    @apply bg-neutral-900 text-neutral-200;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}